AI Competitor News Monitor.json
{
  "name": "AI Competitor News Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "d5c88e2b-a664-46ab-b536-918111144d7d",
      "name": "Every Monday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://openai.com/news/rss.xml",
        "options": {}
      },
      "id": "b31930a5-81ed-4605-afe6-6e747235021e",
      "name": "Fetch OpenAI News Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {},
      "id": "87b4079c-907b-4f83-bab8-6c7501ec84e5",
      "name": "Combine Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence+automation&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "1ea1e9e7-6007-4cf9-922a-4dfb0efd12ef",
      "name": "Fetch Google News AI Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "within-7-days",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $now.minus({ days: 7 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f22d0ac8-1771-4248-b490-a97de78c3f72",
      "name": "Keep Last 7 Days",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "id": "b9627b1e-fd12-493b-8fac-43b962c6791a",
      "name": "Remove Duplicate Articles",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        896,
        96
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "274fb021-71f9-4365-bc52-8445827d4e5c",
      "name": "Sort by Date (Newest First)",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "a1d5842b-e3e5-49ba-a010-61bae718445e",
      "name": "Limit to 15 Most Recent",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1344,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all recent articles into a single text payload for the AI\nconst items = $input.all();\n\nconst articlesText = items.map((it, i) => {\n  const j = it.json || {};\n  const title = j.title || 'Untitled';\n  const link = j.link || j.guid || '';\n  const date = j.isoDate || j.pubDate || '';\n  const snippet = j.contentSnippet || j.content || j.summary || '';\n  return `${i + 1}. ${title}\\nDate: ${date}\\nLink: ${link}\\nSummary: ${snippet}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    articleCount: items.length,\n    articlesText: articlesText || 'No articles available for this period.',\n  },\n}];"
      },
      "id": "275fc937-e1f2-4f55-85e6-92fe4127c19c",
      "name": "Build Article List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        96
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a competitive intelligence analyst specializing in the AI and automation industry. You will receive a list of recent news articles. Analyze them and produce: a short executive summary (2-4 sentences), exactly 5 key takeaways, 2 to 3 competitive signals, and exactly 3 things to watch next week. Be concise, factual, and business-focused. Respond only with the required structured fields."
            },
            {
              "content": "=Here are this week's AI & automation news articles:\n\n{{ $json.articlesText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "textFormat": {
            "textOptions": {
              "type": "text"
            }
          }
        }
      },
      "id": "8ca2fa45-364f-492b-a0e2-f145fc37f113",
      "name": "Generate AI Insights",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1792,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiData = $json;\n\n// Read the Markdown text returned by the OpenAI node\nconst aiText =\n  aiData.output?.[0]?.content?.[0]?.text ||\n  aiData.output_text ||\n  aiData.text ||\n  'No AI summary was generated.';\n\n// Get the original article information from the earlier Code node\nconst articleData = $('Build Article List').first().json;\n\nconst date = new Date().toLocaleDateString('en-US', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n});\n\nconst sourceList = (articleData.articles || [])\n  .map((article, index) => {\n    const title = article.title || 'Untitled article';\n    const link = article.link || '';\n    return `${index + 1}. ${title}${link ? `\\n${link}` : ''}`;\n  })\n  .join('\\n\\n');\n\nconst digest = [\n  '# AI Competitor News Monitor',\n  '',\n  `**Weekly Digest — ${date}**`,\n  '',\n  aiText,\n  '',\n  '## Source Articles',\n  '',\n  sourceList || 'Source links were not available.',\n  '',\n  '---',\n  `Articles analyzed: ${articleData.articleCount || 15}`,\n  'Generated automatically using n8n and OpenAI.',\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      subject: `AI Competitor News Monitor — ${date}`,\n      digest,\n    },\n  },\n];"
      },
      "id": "87300f53-994b-43e3-9f5a-54f987100002",
      "name": "Format Markdown Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        96
      ]
    },
    {
      "parameters": {
        "sendTo": "srivarshakamishetty3@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.digest }}",
        "options": {}
      },
      "id": "12bd735f-5873-4f10-bdda-78dda680ef59",
      "name": "Send Digest via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2240,
        96
      ],
      "webhookId": "f5681340-e8a6-4a74-a3a9-d1d055dde901",
      "credentials": {
        "gmailOAuth2": {
          "id": "SIFx1sfWkpQ7MWO0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Monday 9AM": {
      "main": [
        [
          {
            "node": "Fetch OpenAI News Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google News AI Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OpenAI News Feed": {
      "main": [
        [
          {
            "node": "Combine Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Feeds": {
      "main": [
        [
          {
            "node": "Keep Last 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News AI Feed": {
      "main": [
        [
          {
            "node": "Combine Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Keep Last 7 Days": {
      "main": [
        [
          {
            "node": "Remove Duplicate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Articles": {
      "main": [
        [
          {
            "node": "Sort by Date (Newest First)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date (Newest First)": {
      "main": [
        [
          {
            "node": "Limit to 15 Most Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 15 Most Recent": {
      "main": [
        [
          {
            "node": "Build Article List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Article List": {
      "main": [
        [
          {
            "node": "Generate AI Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Insights": {
      "main": [
        [
          {
            "node": "Format Markdown Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Markdown Digest": {
      "main": [
        [
          {
            "node": "Send Digest via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4cf99933-b205-4698-a9c5-3b1be9be3814",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "339a63d964c9d8671595fc24e0225d1cfb1308cad3b55fdaa2955e2fd04f4d48"
  },
  "nodeGroups": [],
  "id": "RTTaTlbnHwKCmv2F",
  "tags": []
}